@import "./tokens.scss";

html {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: $font-weight;
  color-scheme: light dark;
  color: $color-text;
  background-color: $color-background;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: $font-weight-link;
  color: $color-link;
  text-decoration: inherit;
}

a:hover {
  color: $color-link-hover;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol {
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
  line-height: 1.1;
}

button {
  border-radius: $border-radius-button;
  border: 1px solid $border-color-button;
  padding: $button-padding;
  font-size: $font-size-button;
  font-weight: $font-weight-link;
  font-family: inherit;
  background-color: $color-background-button;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: $color-link;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
